.image {
  display: block;
  width: 100%;
  height: auto;
}

.titles {
  font-size: 64px;
  font-weight: bold;
  margin-top: 32px;
  text-align: center;
  color: #BB0D2E;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  width: 100%;
}

.textWrapper {
  flex: 1;
  min-width: 0;
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageTwo {
  width: 100%;
  height: auto;
  max-width: 600px;
  display: block;
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .textWrapper {
    padding: 32px;
  }
}
